---
import ThumbsDown from '@/icons/variable/ThumbsDown.astro'
import ThumbsUp from '@/icons/variable/ThumbsUp.astro'
import { actions } from 'astro:actions'
---

<!-- <Container> -->
<section
  class="grid grid-cols-1 md:grid-cols-2 justify-items-center justify-content flex-1 dark:text-[#012029]"
>
  <picture class="col-span-1">
    <img
      class="size-72 hidden md:block md:size-full"
      src="/img/ImgContact.svg"
      alt=""
    />
  </picture>
  <fieldset
    class="w-96 md:w-full col-span-1 border-2 p-10 rounded-3xl border-slate-300 px-10 flex-1"
  >
    <legend
      class="px-8 uppercase text-white-900/50 font-semibold text-[#9c9891]"
      >Contáctame</legend
    >
    <form class="flex flex-col" action={actions.getForm} method="POST">
      <div class="grid gap-6 mb-6 md:grid-cols-1">
        <div class="relative z-0">
          <input
            id="names"
            name="names"
            type="text"
            required
            placeholder=" "
            class="peer block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 focus:outline-none focus:ring-0"
          />

          <label
            for="names"
            class="absolute text-sm text-slate-400 duration-300 transform
           -translate-y-6 scale-75 top-3 origin-[0]
           peer-placeholder-shown:scale-100
           peer-placeholder-shown:translate-y-0
           peer-focus:scale-75
           peer-focus:-translate-y-6"
          >
            Nombres
          </label>
        </div>
      </div>
      <div class="grid gap-6 mb-6 md:grid-cols-1">
        <div class="relative z-0">
          <input
            name="email"
            autocomplete="email"
            type="email"
            id="email"
            placeholder=" "
            class="peer block py-2.5 px-0 w-full text-sm text-slate-100 bg-transparent
           border-0 border-b-2 border-gray-300 appearance-none
           focus:outline-none focus:ring-0 focus:border-yellow-600"
          />

          <label
            for="email"
            class="absolute text-sm text-gray-500 duration-300 transform
           -translate-y-6 scale-75 top-3 origin-[0]
           peer-placeholder-shown:scale-100
           peer-placeholder-shown:translate-y-0
           peer-focus:scale-75
           peer-focus:-translate-y-6"
          >
            Correo electrónico
          </label>
        </div>
      </div>
      <div class="grid gap-6 mb-6 md:grid-cols-1">
        <div class="relative z-0">
          <input
            name="tel"
            autocomplete="off"
            type="number"
            id="tel"
            class="block py-2.5 px-0 w-full text-sm text-slate-100 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-[#012029] dark:border-[#012029] dark:focus:border-orange-500 focus:outline-none focus:ring-0 focus:border-yellow-600 peer"
            placeholder=" "
          />
          <label
            for="tel"
            class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-yellow-600 peer-focus:peer-focus:dark:text-orange-600 peer-focus:dark:font-extrabold peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >
            Teléfono
          </label>
        </div>
      </div>
      <div class="grid gap-6 mb-6 md:grid-cols-1">
        <h2 class="font-extrabold text-center">¿TE GUSTÓ EL PORTAFOLIO?</h2>
        <div class="flex justify-center gap-10 py-0">
          <label
            class="hover:text-green-500 hover:scale-[1.7] transition ease-in-out delay-200"
            for="like"
          >
            <ThumbsUp />
          </label>
          <input type="radio" name="like" id="like" hidden />
          <label
            class="hover:text-red-500 hover:scale-[1.7] transition ease-in-out delay-200"
            for="dislike"
          >
            <ThumbsDown />
          </label>
          <input type="radio" name="dislike" id="dislike" hidden />
        </div>
      </div>
      <div class="grid gap-6 mb-6 md:grid-cols-1">
        <div class="relative z-0">
          <textarea
            name="message"
            id="floating_standard"
            class="block py-2.5 px-0 w-full text-sm text-slate-100 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-[#012029] dark:border-[#012029] dark:focus:border-orange-500 focus:outline-none focus:ring-0 focus:border-yellow-600 peer"
            placeholder=" "></textarea>
          <label
            for="floating_standard"
            class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-9 scale-75 top-7 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-yellow-600 peer-focus:peer-focus:dark:text-orange-600 peer-focus:dark:font-extrabold peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-9 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >
            Comentarios
          </label>
        </div>
      </div>
      <button
        id="button"
        type="submit"
        class="w-fit m-auto text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:red-cyan-800 rounded-lg text-sm px-5 py-2.5 text-center mb-2 font-extrabold"
      >
        Enviar Formulario
      </button>
    </form>
  </fieldset>
</section>

<script>
  import { actions } from 'astro:actions'
  import Swal from 'sweetalert2'

  const form = document.querySelector('form') as HTMLFormElement

  form.addEventListener('submit', async (e) => {
    e.preventDefault()
    const formData = new FormData(form)
    const name = formData.get('names') as string
    const email = formData.get('email') as string
    const phone = Number(formData.get('tel')) || null
    const like = formData.get('like') ? true : false
    const dislike = formData.get('dislike') ? true : false
    const message = formData.get('message') as string

    const { data, error } = await actions.getForm({
      name,
      email,
      phone,
      like,
      dislike,
      message
    })
    if (error) {
      Swal.fire({
        icon: 'error',
        title: 'Ups...',
        text: 'Algo salio mal! No se pudo enviar el formulario',
        timer: 1500
      })
    }
    if (data) {
      Swal.fire({
        icon: 'success',
        title: 'Exito',
        text: 'Formulario enviado correctamente',
        position: 'top-end',
        showConfirmButton: false,
        timer: 1500
      })
      form.reset()
    }
  })
</script>
