---
import Whatsapp from "../icons/Social/Whtasapp.astro"
import Facebook from "../icons/Social/Facebook.astro"
import Instagram from "../icons/Social/Instagram.astro"
import Twitter from "../icons/Social/Twitter.astro"
import GitHub from "../icons/Social/GitHub.astro"
import Linkedin from "../icons/Social/Linkedin.astro"
---

<footer class="flex flex-col text-lg w-full mx-auto max-w-[1000px] mb-1 overflow-hidden ">
    <div class="flex flex-col md:flex-row gap-10 justify-between">
        <div class="flex flex-col text-center">
            <h2 class="text-[var(--orange)] text-4xl mb-8">Contactáme</h2>
            <p>Centro de Chiquinquirá - Boyacá, Colombia</p>
            <p>(+57) 3132405135</p>
        </div>
        <div class="flex flex-col sm:flex-row justify-center gap-10 text-center">
            <div class="flex flex-col">
                <a class="text-lg font-extrabold mb-5" href="#">Experiencia</a>
                <ul class="list-footer">
                    <li>Docente informática</li>
                    <li>Técnico en Sistemas</li>
                    <li>Asesor de ventas</li>
                </ul>
            </div>
            <div class="flex flex-col">
                <a class="text-lg font-extrabold mb-5" href="#">Herramientas</a>
                <ul class="list-footer">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            </div>
            <div class="flex flex-col">
                <a class="text-lg font-extrabold mb-5" href="#">Estudios</a>
                <ul class="list-footer">
                    <li>Técnico</li>
                    <li>Ingeniería</li>
                    <li>Especialización</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap gap-3 md:gap-10 justify-center items-center mt-10">
        <a href="https://wa.me/573132405135" class="p-2 bg-yellow-500 rounded-full hover:bg-slate-200 transition delay-150 ease-in">
            <Whatsapp class="size-7"/>
        </a>
        <a href="https://www.facebook.com/neider.stith/" class="p-2 bg-yellow-500 rounded-full hover:bg-slate-200 transition delay-150 ease-in">
            <Facebook class="size-7"/>
        </a>
        <a href="https://www.linkedin.com/in/neidernieto/" class="p-2 bg-yellow-500 rounded-full hover:bg-slate-200 transition delay-150 ease-in">
        <Linkedin class="size-7"/>
        </a>
        <a href="https://www.instagram.com/neider_niet0/" class="p-2 bg-yellow-500 rounded-full hover:bg-slate-200 transition delay-150 ease-in">
        <Instagram class="size-8"/>
        </a>
        <a href="https://twitter.com/NeiderNieto10" class="p-2 bg-yellow-500 rounded-full hover:bg-slate-200 transition delay-150 ease-in">
            <Twitter class="size-7"/>
        </a>
        <a href="https://github.com/NesniDev" class="p-2 bg-yellow-500 rounded-full hover:bg-slate-200 transition delay-150 ease-in">
            <GitHub class="size-7"/>
        </a>
    </div>

    <p class="text-center mt-7">Hecho con Astro 🪐🧑‍🚀. Gracias por ver mi portfolio ❤️👨‍💻. </p>
</div>
</footer>