---

import DarkMode from "@/components/DarkMode.astro"
import Menu from "@/icons/variable/Menu.astro"
---
<div class="p-2 mb-2 text-xs md:text-lg text-[#012029] rounded-sm bg-blue-50 dark:bg-gray-800 dark:text-white text-center w-full mx-auto max-w-[1000px]" role="alert">
    <span class="font-extrabold">Página En Desarrollo.</span> Sigo realizando modificaciones.
  </div>
<header
  class="w-full mx-auto max-w-[1000px] md:py-12 h-[20vh] px-5 flex items-center justify-between md:block"
>
  <div class="relative flex flex-row mx-auto justify-between items-center gap-10 w-full">
    <a class="flex gap-2 ancla-logo dark:hover:drop-shadow-[0_10px_20px_rgba(230,200,25,5)] cursor-pointer ">
      <img class="size-12 cover img-logo transition" loading="lazy" src="img/Logo.svg" alt="" />
      <img
        class="size-12 img-logo-2 transition"
        loading="lazy"
        src="img/JavaScript-logo.avif"
        alt="Imagen del logo"
      />
      <div class="flex flex-col text-logo transition justify-center">
        <h2 class="text-center text-sm font-bold text-white dark:text-[#012029] uppercase">NEIDER DEV</h2>
        <hr class=" dark:border-slate-700"/>
        
        <p class="text-center text-base font-extrabold text-white dark:text-[#012029] uppercase">ingeniero</p>
      </div>
    </a>
    <nav id="menu" class=" md:justify-between md:gap-5 tracking-widest z-[99] text-4xl 
    md:text-base absolute h-full top-0 left-0 right-0 bg-black py-[400px] md:py-0 md:static
    items-center justify-center md:bg-transparent md:ml-36 lg:ml-80
    hidden md:block flex flex-col md:flex-row gap-2 xl:gap-x-5 animate-jump-in
     lg:text-base text-[#CAA152] dark:bg-gradient-to-b dark:from-[#012029] dark:md:from-transparent bg-gradient-to-b from-[#e3e3e3] md:from-transparent opacity-90 fijada">
      <ul class="flex flex-col md:flex-row justify-between items-center gap-10 ">
        <a class="hover:text-[#fbc531] text-white dark:text-[#012029] font-extrabold" href="/#proyectos">Proyectos</a>
        <a class="hover:text-[#fbc531] text-white dark:text-[#012029] font-extrabold" href="/#habilidades">Habilidades</a>
        <a class="hover:text-[#fbc531] text-white dark:text-[#012029] font-extrabold mb-2 md:mb-0" href="/#contacto">Contacto</a>
        <DarkMode class="dark:text-[#012029] text-[#012029]" id="dark"/>
      </ul>

    </nav>
  </div>
  <button class="button z-[100]">
    <Menu class="text-white w-8 md:hidden block fijada absolute top-[115px] right-1 bottom-0" />
  </button>
</header>

<style>
  .fijada{
    position: fixed;
  }
  @media screen and (min-width: 768px) {
    .fijada{
      position: relative;
    }
    nav{
      animation: none;
    }
    nav a {
      position: relative;
      
    }
    nav a:hover {
      text-shadow: 0px 0px 15px rgb(5, 70, 0, 0.7);
    }

    nav a::after {
      content: "";
      position: absolute;
      background-color: #fbc531;
      height: 3px;
      width: 0%;
      left: 0;
      bottom: -12px;
      transition: width 0.5s ease-out;
      border-radius: 20px;
    }
    nav a:hover::after {
      width: 100%;
    }
    nav a::before {
      content: "";
      position: absolute;
      background-color: #fbc531;
      height: 3px;
      width: 0%;
      right: 0;
      top: -8px;
      transition: width 0.5s ease-out;
      border-radius: 20px;
    }
    nav a:hover::before {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    nav ul a{
      color: white;
    }
  }
  .ancla-logo .img-logo-2 {
    transition: transform 0.25s;
    transform: scale(0);
  }

  .ancla-logo:hover .img-logo-2 {
    transform: scale(1);
  }

  .ancla-logo .img-logo {
    transition: transform 0.2s;
    position: absolute;
  }

  .ancla-logo:hover .img-logo {
    transform: scale(0);
  }
  .ancla-logo:hover .text-logo {
    /*  */
    font-size: 15px;
    transform: rotate(-7deg);
    text-shadow: 0px 0px 17px #1a9ddf;
    
  }
  /* DARK MODE */

  


</style>

<script>
  const menu = document.querySelector("#menu");
  const boton = document.querySelector(".button");
  const navLinks = document.querySelectorAll('#menu a');

  
  boton.addEventListener(
    "click",
    () => {

      menu.classList.toggle("hidden");
      
       navLinks.forEach(link => {
      link.addEventListener('click', () => {
         menu.classList.add('hidden'); // Ocultar el menú desplegable
       });
 });
    })
</script>