<header
  class="w-full mx-auto max-w-[1000px] py-12 h-[20vh] px-5 flex items-center justify-center md:block"
>
  <div class="flex flex-row justify-between items-center gap-10">
    <a href="/" class="flex gap-2 ancla-logo">
      <img class="size-12 cover img-logo transition" src="img/Logo.svg" alt="" />
      <img
        class="size-12 img-logo-2 transition"
        src="img/JavaScript-logo.avif"
        alt=""
      />
      <div class="flex flex-col text-logo transition">
        <h2 class="text-center text-sm font-bold">NESTNI DEV</h2>
        <hr/>
        <p class="text-center text-base font-extrabold">INGENIERO</p>
      </div>
    </a>
    <nav>
      <ul
        class="flex flex-row justify-between gap-10 text-base tracking-widest text-[#D3D3D3] font-extrabold"
      >
        <li>
          <a class="hover:text-[rgba(252,102,15,0.9)]" href="#id">Proyectos</a>
        </li>
        <li>
          <a class="hover:text-[rgba(252,102,15,0.9)]" href="/">Habilidades</a>
        </li>
        <li>
          <a class="hover:text-[rgba(252,102,15,0.9)]" href="/">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  nav a {
    position: relative;
  }
  nav a:hover {
    text-shadow: 0px 0px 15px rgb(255, 255, 255, 0.5);
  }

  nav a::after {
    content: "";
    position: absolute;
    background-color: var(--color-menu);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -12px;
    transition: width 0.5s ease-out;
    border-radius: 20px;
  }
  nav a:hover::after {
    width: 100%;
  }

  .ancla-logo .img-logo-2 {
    transition: transform 0.25s;
    transform: scale(0);
  }

  .ancla-logo:hover .img-logo-2 {
    transform: scale(1);
  }

  .ancla-logo .img-logo {
    transition: transform 0.2s;
    position: absolute;
  }

  .ancla-logo:hover .img-logo {
    transform: scale(0);
  }
  .ancla-logo:hover .text-logo {
    /*  */
    font-size: 15px;
    transform: rotate(-7deg);
    text-shadow: 0px 0px 17px #1a9ddf;
    
  }

</style>
