---
import Atropos from "@/components/Atropos.jsx"
---

<section class="relative h-full border-orange-400 z-50 mb-10 rounded-lg ">

  <Atropos client:load/>
</section>
<style>
  /* .image{
    height: 100%;
    width: 100%;
    transition: box-shadow 1s transform;
  }
.image:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
  } */
</style>

