---
import { TOOLS } from '../lib/Technologies'
import Slider from './Slider'
interface Props {
  logo?
  name?: string
}
---

<!-- Crear un evento hover donde en cada tecnologia me muestre los frameworks o dividir por secciones las tecnologias -->
<section class="grids pt-5 flex flex-col items-center justify-center">
  <div class="">
    <Slider
      client:only="react"
      speed={60}
      gradient={false}
      direction="left"
      category="Frontend"
    />
    <Slider
      client:only="react"
      speed={60}
      gradient={false}
      direction="right"
      category="Backend"
    />
    <Slider
      client:only="react"
      speed={60}
      gradient={false}
      direction="left"
      category="Otros"
    />
  </div>
</section>

<style>
  .grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
  }
</style>
