---
import { TOOLS } from "../lib/Tecnologys";
interface Props {
  logo?;
  name?: string;
}
---

<!-- Crear un evento hover donde en cada tecnologia me muestre los frameworks o dividir por secciones las tecnologias -->
<section class="grids pt-6 pb-14">
  {
    TOOLS.map((tool) => (
      <>
        <div class="a group  relative flex flex-col items-center p-3 hover:scale-110 transition hover:shadow-xl hover:shadow-slate-200 cursor-crosshair">
          <h2 class="text-[12px] text-center py-2 dark:text-[#012029] text-slate-100 font-normal">
            {tool.category}
          </h2>
          <tool.logo class="size-14 icon " />
          <span
            class="absolute -top-6 left-[5%] -translate-x-[50%] 
          z-20 origin-left scale-0 px-3 rounded-lg border 
          border-gray-300 bg-white py-2 text-[#012029] text-sm font-bold
          shadow-md transition-all duration-300 ease-in-out 
          group-hover:scale-100"
          >
            {tool.name}
          </span>
        </div>
      </>
    ))
  }
</section>

<style>
  div:hover .icon {
    animation: rotateIcon 1s ease-in-out;
    background: image-set("Foto.png" 2x, "Foto.png");
  }

  @keyframes rotateIcon {
    from {
      transform: rotate(0deg);
      /* Primer fotograma */
    }
    to {
      transform: rotate(360deg);
    }
  }
  .grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
  }
</style>
