---
import { ViewTransitions } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import SEO from '@/components/SEO.astro'
import Arrow from '@/icons/variable/Arrow.astro'
import DarkMode from '@/components/DarkMode.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es" class="md:mr-0">
  <head>
    <SEO title={title} description={description} />
    <!-- <ViewTransitions /> -->
    <link rel="stylesheet" href="/src/styles/styles.css" />
  </head>

  <body class="dark:bg-white" id="inicio">
    <Header />
    <slot />
    <Footer />
    <a
      id="top"
      href="#inicio"
      title="Ir al inicio"
      class="z-[100000] p-2 border-2 border-transparent hover:border-orange-600 bg-[#3f3b3b7b] dark:bg-[#012029] rounded-full fixed right-6 bottom-6"
    >
      <Arrow class="size-7 hover:animate-pulse animate-duration-slow" />
    </a>
    <style is:global></style>
  </body>
</html>
<script defer>
  document.fonts.ready.then(() => {
    document.body.classList.add('font-loaded')
  })
</script>
