---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="Logo.avif" />
    <title>{title}</title>
    <ViewTransitions  />

    </head
    >

  <body>
    <slot />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
      @import url("https://fonts.cdnfonts.com/css/caviar-dreams");
      :root {
        
        --letterTitle: "Playpen Sans", system-ui, sans-serif;
        --letterParagrah: "Caviar Dreams", system-ui, sans-serif;
      }
      html {
        font-family: var(--letterParagrah);
        scroll-behavior: smooth;
      }

      body {
        background-color: #012029;

        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }
      @media (prefers-color-scheme: light) {
        body {
          color: #012029;
        }
      }
    </style>
  </body>
</html>
